Flask
Flask-Cors
Flask-SQLAlchemy
Flask-Bcrypt

streamlit

requests

python-dotenv

langchain
langchain-community
langchain-groq
langchain-huggingface

faiss-cpu

sentence-transformers

groq

pypdf
python-docx

regex